POSTGRES_USER="DbUser"
POSTGRES_PASSWORD="password"
POSTGRES_DB="DB"
DB_PORT="5433"

# If Nest runs locally:
DB_HOST="localhost"
# If Nest runs in a docker, change the host to:
# DB_HOST=postgres


DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=public"